.btn-margin{
	margin: 10px 10px;
}

.clear-border{
	padding-top:0px !important;
	border: 0px solid #ccc !important;
    border-radius: 0px !important;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset !important;
}

.buttom-icon{
	padding-left: 13px !important;
}