<html>
<head>
</head>
	<body>
		<div class="main">
			<div class="list-title">
				<span><img class="home-img" ng-src="images/home_icon.png"/></span>
				<span class="navigate-header">评分管理>>审核列表</span>
			</div>
			<iframe name="my_iframe" src="about:blank" ng-hide="true"></iframe>
			<form  target="my_iframe" action="about:blank" class="form-horizontal" name="searchFrom" role="form" ng-submit="search()" autocomplete="on" >
				<div class="serch">
					<input class="fl input-search form-control" id="search_input" type="text" ng-model="search_keyword" onkeypress="if (event.which==13) document.getElementById('search_button').click()" placeholder="提交者/电话">
					<div class="clear_div" ng-show="search_keyword">
						<a href="javascript:void(0);" clear-search class="delete_search" id="clear_search"></a>
					</div>
		            <button type="submit" id="search_button" class="search_btn btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
				</div>
			</form>
			<div class="terminal-list-table">
				<table class="table table-bordered table-hover">
					<thead class="table_thead">
						<tr>
							<th width="10%">序号</th>
							<th width="10%">评分类型</th>
							<th width="10%">评分分数</th>
							<th width="13%">所评企业</th>
							<th width="12%">提交者</th>
							<th width="15%">提交者电话</th>
							<th width="15%">创建时间</th>
							<th width="15%">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="entry in middleAuditFeedbacks" class="terminal-table-data-tr">
	            	        <td align="center">{{$index+1}}</td>	            			
	            			<td align="center">{{entry.scoreTypeDesc}}</td>
	            			<td align="center">{{entry.score}}</td>
	            			<td align="center">{{entry.companyName}}</td>
	            			<td align="center">{{entry.submitPerson}}</td>
	            			<td align="center">{{entry.submitTel}}</td>
	            			<td align="center">{{entry.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
	            			<td align="center">
	                			<a ui-sref="personnelupdate({uuid:entry.uuid})"  class="personnel_list_set not_menu">审核</a>
	            			</td>
	        			</tr>
        			</tbody>
				</table>
			</div>
		</div>
		<div>
            <pagetemplate></pagetemplate>
        </div>
	</body>
</html>
