<div class="left_nav_menu">
     <div class="firstTitle no_child" data-target="#sc-navbar-collapse" data-toggle="collapse">
         <a href="#/terminalList" class="">
             <span class="transparent glyphicon glyphicon-chevron-down">&nbsp;</span>条目管理
         </a>
     </div>
     <div class="collapse bar-list bar_list_two" id="sc-navbar-collapse">
         <ul class="nav">
             <li has-permission="SERVICER_MANAGER_QUERY"><a href="javascript:void(0);">审核条目</a></li>
             <li has-permission="SERVICER_MANAGER_ADD"><a href="javascript:void(0);">增加条目</a></li>
             <li has-permission="SERVICER_MANAGER_TYPE"><a href="/serviceprovider/sp#/categoryManager">条目查询</a></li>
         </ul>
     </div>
     <div class="firstTitle no_child" data-target="#feedback-navbar-collapse" data-toggle="collapse">
         <a href="#/groupList" class="">
             <span class="transparent glyphicon glyphicon-chevron-down">&nbsp;</span>评分管理
         </a>
     </div>
     <div class="collapse bar-list bar_list_two" id="feedback-navbar-collapse">
         <ul class="nav">
             <li has-permission="SERVICER_MANAGER_QUERY"><a href="javascript:void(0);">审核评分</a></li>
             <li has-permission="SERVICER_MANAGER_ADD"><a href="javascript:void(0);">添加评分</a></li>
             <li has-permission="SERVICER_MANAGER_TYPE"><a href="/serviceprovider/sp#/categoryManager">评分查询</a></li>
         </ul>
     </div>
     <div class="firstTitle no_child" data-target="#setting-navbar-collapse" data-toggle="collapse">
         <a href="#/manageList">
             <span class="transparent glyphicon glyphicon-chevron-down">&nbsp;</span>设置
         </a>
     </div>
     <div class="collapse bar-list bar_list_two" id="setting-navbar-collapse">
         <ul class="nav">
             <li has-permission="SERVICER_MANAGER_QUERY"><a href="javascript:void(0);">站点设置</a></li>
             <li has-permission="SERVICER_MANAGER_ADD"><a href="javascript:void(0);">信誉参数设置</a></li>
             <li has-permission="SERVICER_MANAGER_TYPE"><a href="/serviceprovider/sp#/categoryManager">系统管理用户设置</a></li>
         </ul>
     </div>
<!--      <div class="firstTitle no_child" ui-sref="personnelList" has-permission="USER_MANAGER">
         <a href="#/personnelList">
             <span class="transparent glyphicon glyphicon-chevron-down">&nbsp;</span>人员管理
         </a>
     </div>

     
     <div class="firstTitle"  data-target="#sp-navbar-collapse" data-toggle="collapse" has-permission="SERVICER_MANAGER">
        <a href="javascript:void(0);" class="">
            <span class="glyphicon glyphicon-chevron-down">&nbsp;</span>服务商管理
        </a>
    </div>
    
    <div class="collapse bar-list bar_list_two" id="sp-navbar-collapse">
         <ul class="nav">
             <li has-permission="SERVICER_MANAGER_QUERY"><a href="/serviceprovider/sp#/search">查询服务商</a></li>
             <li has-permission="SERVICER_MANAGER_ADD"><a href="/serviceprovider/sp#/add/location">新增服务商</a></li>
             <li has-permission="SERVICER_MANAGER_TYPE"><a href="/serviceprovider/sp#/categoryManager">类别管理</a></li>
         </ul>
     </div> -->
</div>
