<div class="modal fade authority-distribution" id="authority_distribution_dialog" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-sm">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">分配权限基础</h4>
         </div>
         <div class="modal-body">
			<table class="table">
				<thead class="table_thead">
					<tr>
						<th width="10%" title=""><input id="chkAll" ng-model="chkAll" ng-click="checkedAll(this,chkAll)" ng-checked="ischkall"  type="checkbox"/></th>{{ischkall}}
						<th width="30%" title="">权限名</th>
					</tr>
				</thead>
				<tbody class="table_tbody">
		
					<tr  ng-repeat="t in roles" on-finish-render-filters id="{{t.uuid}}" class="terminal_tr_one">
						<td><input   ng-click="checkedRole(t)" ng-model="t.checked"  type="checkbox"></td>
						<td title="{{t.roleDesc}}">{{t.roleDesc}}</td>
					</tr>       			
		
				</tbody>
			</table>       
         </div>
		 <div class="modal-footer">
		 	<button type="button" class="btn btn-primary" id="authorityDistributeBtn" ng-click="saveAuthorityDistribution()">保存</button>
		 	<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
		 </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>