<div class="modal fade authority-distribution" id="authority_distribution" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-sm">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">分配权限基础</h4>
         </div>
         <div class="modal-body">
         
         </div>
		 <div class="modal-footer">
		 	<button type="button" class="btn btn-primary" id="authorityDistributeBtn" ng-click="saveAuthorityDistribution()">保存</button>
		 	<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
		 </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>