<div class="modal fade personnel_reset_password" tabindex="-1" role="dialog"  aria-hidden="true" >
 <div class="modal-dialog modal-sm  commom-modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancelOk()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">重置密码</h4>
      </div>
      <div class="modal-body reset_password_modal_body">
      <form  name="restPasswordFrom" role="form"  novalidate>
      	<input type="hidden" ng-model="loginName" value="{{loginName}}"/>
      	<div class="col-md-12">
      		<label class="reset_password_label">新密码：</label><input type="password" style="width:140px;" class="form-control col-md-4" id="firstPassword" name="password" required ng-pattern="/^[0-9A-Za-z_]{6,15}$/" maxlength="15" minlength="6" ng-model="password" ng-blur="checkPassword()" ng-change="passwordChange()"/>
      		<div class="error edit_icon_color">
      		<span  ng-hide="restPasswordFrom.password.$dirty && restPasswordFrom.password.$invalid" class="prompt_span">&nbsp;{{error}}</span>
             <span class="prompt_span" ng-show="restPasswordFrom.password.$dirty && restPasswordFrom.password.$invalid">&nbsp;6-15位数字、字母或组合</span>
         	</div>
      	</div>
        <div class="col-md-12">
        	<label class="reset_password_label">确认密码：</label><input type="password" style="width:140px;" class="form-control" id="confirmPassword" name="confirmPassword" required ng-pattern="/^[0-9A-Za-z_]{6,15}$/" maxlength="15" minlength="6"  ng-model="confirmPassword" ng-blur="checkPassword()"/>
        	 <div class="error edit_icon_color">
              <span class="prompt_span" ng-show="restPasswordFrom.confirmPassword.$dirty && confirmPasswordWrong">&nbsp;两次密码输入不一致</span>
          </div>
        </div>            
        <div class="clear_float"></div>
      <div class="modal-footer">
        <button type="submit" id="reset_button" class="btn btn-primary" ng-click="restPassword()" ng-disabled="!(restPasswordFrom.$valid&&!confirmPasswordWrong)" >确定</button>
        <button class="btn btn-default" data-dismiss="modal" ng-click="cancelOk()">取消</button>
      </div>
      </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>