<html>
<head>
    <!-- Load CSS files-->
    <script src="js/personneladd/personnel.js"></script>
</head>
	<body>
		<div class="main">
			<div class="list-title">
				<span ><img class="home-img" ng-src="images/home_icon.png"/></span>
				<span class="navigate-header">人员管理>>人员列表>>人员修改</span>
			</div>
			<div class="terminal-add-total">
				<form class="form-horizontal" name="personnelAddFrom" role="form" ng-submit="personnelUpdate()" novalidate>
					<input type="hidden" value="{{userId}}" model="userId">
					<!-- 登录账号 -->
				    <div class="form-group">
                        <label class="nosee_require-mark-style">*</label>
				        <label class="col-sm-2">登录账号</label>
				        <div class="col-sm-4">
				            <input type="text" readonly class="form-control" name="loginName" required ng-pattern="/^[0-9A-Za-z_]{1,15}$/" ng-maxlength="15" ng-minlength="6" ng-model="loginName"/>
				        </div>
                        <span class="prompt_span" ng-show="personnelAddFrom.loginName.$dirty && personnelAddFrom.loginName.$invalid">必填，6-15位数字、字母或组合&nbsp;&nbsp;</span>
				    </div>
				    <!-- 用户名 -->
				    <div class="form-group">
                        <label class="require-mark-style">*</label>
				        <label class="col-sm-2 ">用户名</label>
				        <div class="col-sm-4">
				            <input type="text" class="form-control" name="name" required maxlength="20" minlength="2" ng-model="name" />
				        </div>
				        <span class="prompt_span" ng-show="personnelAddFrom.name.$dirty && personnelAddFrom.name.$invalid">必填，2-20个字符</span>
				        <span ng-show="name">
				        	<span class="prompt_ok_span" ng-show="personnelAddFrom.name.$dirty && personnelAddFrom.name.$valid"><span class="glyphicon glyphicon-ok"></span></span>
				        </span>
				    </div>
				    
				     <!-- 角色-->
				    <div class="form-group">
				    	<label class="require-mark-style">*</label>
				        <label  class="col-sm-2">角色</label>
				        <input type="hidden" id="authority_distribution_checked_permissions" value="" name="roles" ng-model="permissions"/>
				        <div class="col-sm-4">
				            <select ng-model="selectRole" multiple="multiple" size="1"
				            	ng-options="r.roleCode as r.roleDesc for r in roleAdmins"  required name="role" class="form-control input_btn_input" id="resetCheckedRoles" ng-change="resetCheckedRoles()">
				            	<option value="">请选择</option>
				            </select>
				        </div>
				        <span class="prompt_span" ng-show="personnelAddFrom.role.$dirty && personnelAddFrom.role.$invalid">请选择用户角色</span>
						<span class="prompt_span" ng-show="personnelAddFrom.role.$valid && defoutPermissionsPrompt">不分配权限则默认继承该角色的全部权限</span>
				    </div>
				    				    
				    <!-- 联系电话 -->
				    <div class="form-group">
				    	<label class="require-mark-style">*</label>
				        <label  class="col-sm-2">联系电话</label>
				        <div class="col-sm-4">
				            <input type="text" ng-pattern="/^[0-9]{5,12}$/" maxlength="12" required class="form-control" value="{{tel}}" ng-model="tel" name="tel"/>
				        </div>
				        <span class="prompt_span" ng-show="personnelAddFrom.tel.$dirty && personnelAddFrom.tel.$invalid">必填，请输入正确的联系电话</span>
				        <span ng-show="tel">
				        	<span class="prompt_ok_span" ng-show="personnelAddFrom.tel.$dirty && personnelAddFrom.tel.$valid"><span class="glyphicon glyphicon-ok"></span></span>
				        </span>
				    </div>
				    
				    <!-- 联系邮箱 -->
				    <div class="form-group">
				    	<label class="require-mark-style">*</label>
				        <label  class="col-sm-2">联系邮箱</label>
				        <div class="col-sm-4">
				            <input type="text" ng-pattern="/^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/" id="email" maxlength="30" required  name="email" class="form-control" ng-model="email"/>
				        </div>
				        <span class="prompt_span" ng-show="personnelAddFrom.email.$dirty && personnelAddFrom.email.$invalid">必填，请输入正确的邮箱</span>
				        <span ng-show="email">
				        	<span class="prompt_ok_span" ng-show="personnelAddFrom.email.$dirty && personnelAddFrom.email.$invalid"><span class="glyphicon glyphicon-ok"></span></span>
				        </span>
				    </div>
				    <!-- 性别 -->
				    <div class="form-group">
				    	<label class="nosee_require-mark-style">*</label>
				        <label  class="col-sm-2">性别</label>
				        <div class="col-sm-4">
				        	<input type="radio" value="male" name="gender" id="male" ng-model="gender" class="gender">男
				        	&nbsp;&nbsp;&nbsp;
				        	<input type="radio" value="female" name="gender" id="female" ng-model="gender" class="gender">女
				        </div>
				    </div>
				    
				    <!-- 出生年月 -->
				    <div class="form-group">
				        <label  class="col-sm-2">出生年月</label>
						<div class="input-append date col-md-4">
							<input   type="text" class="add-on form-control Wdate" name="birthday" ng-model="birthDay">
						</div>
				    </div>
				    
				    
				    <!-- 地址 -->
				    
				    <div class="form-group">
				        <label  class="col-sm-2">地址</label>
				        <div class="col-sm-4">
				            <input type="text" class="form-control" name="homeAddress" maxlength="100" ng-model="homeAddress"/>
				        </div>
				        <span class="prompt_span" ng-show="personnelAddFrom.homeAddress.$dirty && personnelAddFrom.homeAddress.$invalid">不能超过100个字符</span>
				    </div>
				    
				    <!-- 备注 -->
				    <div class="form-group">
				        <label  class="col-sm-2">备注</label>
				        <div class="col-sm-4">
				            <textarea  id="" name="remarks" type="text" class="form-control" rows="6" maxlength="100" ng-model="remarks"></textarea>
				        </div>
				        <span class="prompt_span" ng-show="personnelAddFrom.remarks.$dirty && personnelAddFrom.remarks.$invalid">不能超过100个字符</span>
				        <span ng-show="remarks">
				        <span class="prompt_ok_span" ng-show="personnelAddFrom.remarks.$dirty && personnelAddFrom.remarks.$valid"><span class="glyphicon glyphicon-ok"></span></span>
				        </span>
				    </div>
				    
				    <div class="form-group">
				        <div class="col-sm-2"></div>
				        <div class="col-sm-4 btn-group">
				        	<span class="btn_group">
				            	<button type="submit" ng-disabled="!(personnelAddFrom.$valid && id_error_ishidden && !confirmPasswordWrong)" class="btn btn-primary">保存</button>
						    	<button type="butto" ui-sref="personnellist" class="btn btn-default">返回</button>
						    	<span class="prompt_span">{{addSuccess}}</span>
							</span>
				        </div>
				    </div>
				</form>
			</div>
		</div>

	</body>
</html>