<html>
<head>
<!-- Load CSS files-->
    <link href="css/templateCss/creditdetail/creditdetail.css" rel="stylesheet" th:href="@{/css/templateCss/creditdetail/creditdetail.css}"/>
</head>
	<body>
		<div class="container">
			<div class="panel">
			  <div class="panel-heading content-center">
			        <h2>信誉分详情</h2>
			  </div>
			  <div class="panel-body">
                   <form>
                     <div class="form-group biaodan">
                       <label for="totalScore">总分：</label>
                       <input class="form-control" id="totalScore" type="text" placeholder="100分" disabled>
                     </div>
                     <div class="form-group biaodan">
                       <label for="creditScore">诚信分：</label>
                       <input class="form-control" id="creditScore" type="text" placeholder="100分" disabled>
                     </div>
                     <div class="form-group biaodan">
                       <label for="qualityScore">产品质量分：</label>
                       <input class="form-control" id="qualityScore" type="text" placeholder="100分" disabled>
                     </div>
                     <div class="form-group biaodan">
                       <label for="serveScore">服务分：</label>
                       <input class="form-control" id="serveScore" type="text" placeholder="100分" disabled>
                     </div>
                   </form>
                   <div class="row">
                  	  <div class="col-md-12 content-center">
			              <a href="javascript:void(0);" ui-sref="shoeList()" class="btn btn-lg btn-default btn-margin">返回</a>
                  	  </div>
                  </div>
			  </div>
			</div>
		</div>
	</body>
</html>