<!doctype html>
<html ng-app="shoeApp" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8"></meta>
    <title>中国鞋材供应</title>
    <!-- Load CSS files-->
    <link href="css/common/bootstrap.min.css" rel="stylesheet" th:href="@{/css/common/bootstrap.min.css}"/>
    <link href="css/common/bootstrap-datetimepicker.min.css" rel="stylesheet" th:href="@{/css/common/bootstrap-datetimepicker.min.css}"/>
    <link href="css/common/font-awesome.css" rel="stylesheet" th:href="@{/css/common/font-awesome.css}"/>
    <link href="css/common/bootstrap-spinner.css" rel="stylesheet" th:href="@{/css/common/bootstrap-spinner.css}"/>
    <link href="css/angular/angular-ui-tree.min.css" rel="stylesheet" th:href="@{/css/angular/angular-ui-tree.min.css}"/>
    <link href="css/common/common.css" rel="stylesheet" th:href="@{/css/common/common.css}"/>
    <link href="css/common/style.css" rel="stylesheet" th:href="@{/css/common/style.css}"/>
    <link href="css/templateCss/header/header.css" rel="stylesheet" th:href="@{/css/templateCss/header/header.css}"/>
</head>
<body>
    <div id="header" th:include="shoe_header::shoe-header"></div> 
    <div class="panel-body panel-center-content" data-ui-view=""></div>
    <div id="footer" th:include="shoe_footer::shoe-footer"></div>                    

	<div class="modal fade bs-example-modal-sm" id="alert_dialog" role="dialog" aria-label="myModalLabel" aria-hidden="true">
		<div id="modal_dialog" class="modal-dialog modal-sm">
			<div class="modal-content">
				<div id="dialog_header" class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>			
					</button>
					<h4 class="modal-title">[Title]</h4>
				</div>
				<div class="modal-body">
				    <p>[Message]</p>
				</div>
				<div class="modal-footer">
				    <button type="button" id="dialog_ok_button" class="btn btn-primary ok" data-dismiss="modal">
				    [BtnOk]
				    </button>
	 			    <button type="button" id="dialog_cancel_button" class="btn btn-default cancel" data-dismiss="modal">
				    [BtnCancel]
				    </button>
				</div>
			</div>
		</div>
	</div>
<!-- Load plugin js file-->
<script src="../static/js/plugin/jquery-1.min.js" th:src="@{/js/plugin/jquery-1.min.js}"></script>
<script src="../static/js/plugin/bootstrap/bootstrap.min.js" th:src="@{/js/plugin/bootstrap/bootstrap.min.js}"></script>
<script src="../static/js/plugin/bootstrap/bootstrap-datetimepicker.min.js" th:src="@{/js/plugin/bootstrap/bootstrap-datetimepicker.min.js}"></script>
<script src="../static/js/plugin/angular/angular.js" th:src="@{/js/plugin/angular/angular.js}"></script>
<script src="../static/js/plugin/angular/angular-route.js" th:src="@{/js/plugin/angular/angular-route.js}"></script>
<script src="../static/js/plugin/angular/angular-resource.js" th:src="@{/js/plugin/angular/angular-resource.js}"></script>
<script src="../static/js/plugin/angular/angular-ui-router.js" th:src="@{/js/plugin/angular/angular-ui-router.js}"></script>
<script src="../static/js/plugin/angular/angular-ui-tree.js" th:src="@{/js/plugin/angular/angular-ui-tree.js}"></script>
<script src="../static/js/plugin/angular/angular-ui-tree.min.js" th:src="@{/js/plugin/angular/angular-ui-tree.min.js}"></script>
<script src="../static/js/plugin/angular/angular-file-upload-shim.min.js" th:src="@{/js/plugin/angular/angular-file-upload-shim.min.js}"></script>
<script src="../static/js/plugin/angular/angular-file-upload.min.js" th:src="@{/js/plugin/angular/angular-file-upload.min.js}"></script>
<script src="../static/js/plugin/angular/angular-base64-upload.min.js" th:src="@{/js/plugin/angular/angular-base64-upload.min.js}"></script>
<script src="../static/js/plugin/bootstrap/ui-bootstrap-tpls.js" th:src="@{/js/plugin/bootstrap/ui-bootstrap-tpls.js}"></script>
<!-- Load custom js file -->

<script src="../static/js/common/common.js" th:src="@{/js/common/common.js}"></script>
<script src="../static/js/common/shoeApp.js" th:src="@{/js/common/shoeApp.js}"></script>
<script src="../static/js/common/shoeCompanyDirective.js" th:src="@{/js/common/shoeCompanyDirective.js}"></script>
<script src="../static/js/common/style.js" th:src="@{/js/common/style.js}"></script>
<script src="../static/js/shoe/shoeListService.js" th:src="@{/js/shoe/shoeListService.js}"></script>
<script src="../static/js/shoe/shoeListCtrl.js" th:src="@{/js/shoe/shoeListCtrl.js}"></script>
<script src="../static/js/shoe/shoeList.js" th:src="@{/js/shoe/shoeList.js}"></script>
<script src="../static/js/shoeadd/shoeAddService.js" th:src="@{/js/shoeadd/shoeAddService.js}"></script>
<script src="../static/js/shoeadd/shoeAddCtrl.js" th:src="@{/js/shoeadd/shoeAddCtrl.js}"></script>
<script src="../static/js/creditdetail/creditDetailService.js" th:src="@{/js/creditdetail/creditDetailService.js}"></script>
<script src="../static/js/creditdetail/creditDetailCtrl.js" th:src="@{/js/creditdetail/creditDetailCtrl.js}"></script>
<script src="../static/js/feedbackadd/feedBackAddService.js" th:src="@{/js/feedbackadd/feedBackAddService.js}"></script>
<script src="../static/js/feedbackadd/feedBackAddCtrl.js" th:src="@{/js/feedbackadd/feedBackAddCtrl.js}"></script>

</body>
</html>
