<html>
<head>
    <!-- Load CSS files-->
    <script src="js/personneladd/personnel.js"></script>
    <link href="css/templateCss/personneladd/personneladd.css" rel="stylesheet" th:href="@{/css/templateCss/personneladd/personneladd.css}"/>
    <link href="css/templateCss/feedback/feedbackadd.css" rel="stylesheet" th:href="@{/css/templateCss/feedback/feedbackadd.css}"/>
    
    
</head>
	<body>
		<div class="main">
			<div class="list-title">
				<span ><img class="home-img" ng-src="images/home_icon.png"/></span>
				<span class="navigate-header">评分管理>>评分列表>>新增评分</span>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<table class="table table-striped">
					   <thead>
					      <tr>
					         <th>企业名称</th>
					         <th>企业法人</th>					         
					      </tr>
					   </thead>
					   <tbody>
					      <tr>
					         <td>Tanmay</td>
					         <td>Bangalore</td>
					      </tr>
					   </tbody>
					</table>
				</div>
				<div class="col-sm-8">
					<div class="terminal-add-total">
						<form class="form-horizontal" name="personnelAddFrom" role="form" ng-submit="personnelAdd()" novalidate>
							<input type="hidden" ng-model="companyId"/>
							<!-- 企业名称-->
						    <div class="form-group">
		                        <label class="require-mark-style">*</label>
						        <label class="col-sm-2">企业名称</label>
						        <div class="col-sm-4">
						            <input type="text" class="form-control" name="loginName" readonly="readonly" required  ng-model="companyName"/>
						        </div>
						    </div>
						    <!-- 用户名 -->
						    <div class="form-group">
		                        <label class="require-mark-style">*</label>
						        <label class="col-sm-2 ">评分类型</label>
						        <div class="col-sm-4">
		 							<select class="form-control" required
									    ng-model="scoreType"
									    ng-options="value.scoreValue as value.scoreDesc for value in scoreTypeList">
									    <option value="">请选择</option>
									</select> 
						        </div>
						    </div>
						    <!-- 登录密码 -->
						    <div class="form-group">
						    	<label class="require-mark-style">*</label>
						        <label  class="col-sm-2">分数</label>
						        <div class="col-sm-4 spinner">
									<input type="text" required name="score" ng-model="score" id="score" class="form-control" style="display: block;"/>
								    <div class="input-group-btn-vertical">
								      <button class="btn btn-default buttom-icon" ng-click="plusScore()" type="button"><i class="glyphicon glyphicon-triangle-top"></i></button>
								      <button class="btn btn-default buttom-icon" ng-click="reduceScore()" type="button"><i class="glyphicon glyphicon-triangle-bottom"></i></button>
								    </div>						        </div>
						    </div>
						    
						    <!-- 确认密码 -->
						    <div class="form-group">
						    	<label class="require-mark-style">*</label>
						        <label  class="col-sm-2">评分证据</label>
						        <div class="col-sm-4">
                        			<input type="file" required class="form-control clear-border" multiple="multiple" ng-model="proofFile" id="proofFile" name="proofFile" ng-file-select/>
						        </div>
						    </div>
						    
						    <!-- 角色-->
						    <div class="form-group">
						    	<label class="require-mark-style">*</label>
						        <label  class="col-sm-2">提交者姓名</label>
						        <div class="col-sm-4">
                        			<input type="text" required class="form-control" id="submitPerson" ng-model="submitPerson" placeholder="请输入提交者姓名">
		 				    	</div>

						    </div>				   
						    
						    <!-- 联系电话 -->
						    <div class="form-group">
						    	<label class="require-mark-style">*</label>
						        <label  class="col-sm-2">提交者手机</label>
						        <div class="col-sm-4">
                        			<input type="text" required  class="form-control" ng-change="checkTel()" id="submitTel" ng-model="submitTel" placeholder="请输入提交者手机">
						        </div>
						    </div>
	
						    <!-- 备注 -->
						    <div class="form-group">
						        <label  class="col-sm-2">评分事由</label>
						        <div class="col-sm-4">
                        			<input type="text" required class="form-control" id="scoreReason" ng-model="scoreReason" placeholder="请输入理由">
						        </div>
						        <span class="prompt_span personnel_prompt_textarea" ng-show="personnelAddFrom.remarks.$dirty && personnelAddFrom.remarks.$invalid">不能超过100个字符</span>
						        <span ng-show="remarks">
						        <span class="prompt_ok_span" ng-show="personnelAddFrom.remarks.$dirty && personnelAddFrom.remarks.$valid"><span class="glyphicon glyphicon-ok"></span></span>
						        </span>
						    </div>
						    
						    <div class="form-group">
						        <div class="col-sm-2"></div>
						        <div class="col-sm-4 btn-group">
						        	<span class="btn_group">
						            	<button type="submit" ng-disabled="!(personnelAddFrom.$valid && id_error_ishidden && !confirmPasswordWrong)" class="btn btn-primary">保存</button>
								    	<button type="button" ui-sref="personnellist" class="btn btn-default">返回</button>
								    	<span class="prompt_span">{{addSuccess}}</span>
									</span>
						        </div>
						    </div>
						</form>
					</div>				
				</div>
			</div>
		</div>
	</body>
</html>
